{% extends "misc/doxi_admin.html" %}
{% block title %}Spoxi -  Spike Doxi Admin Mode{% endblock %}

{% block main %}

    <form action="/doxi_admin/manage_rules" method="POST">


    <h2>Naxsi - Rules ( {{ rules | length }} ) <input type="submit" class=" btn btn-success pull-right" value="save"></h2>
    <p><strong>{{ selection }}</strong></p>

    <hr>



    {% for rule in rules  | dictsort | reverse %}
        <div class="row">
            <div class="col-md-2">
                <h3>{{ rule[0] }}</h3>
            </div>
            <div class="col-md-8">
                <h3>{{ rule[1]['msg'] }}</h3>
            </div>

            <div class="col-md-1 top-buffer3">
              {% if rule[1]['new'] == 1 %}
                <h3 class="btn btn-info">New!</h3>
              {% endif %}
              <br>
              <input type="hidden" name="ruleset.{{ rule[0] }}" value="{{ rule[1]['ruleset'] }}">
            </div>
            <div class="col-md-1 top-buffer1">
              {% if rule[1]['active'] == 1 %}
              <input type="checkbox" name="action.{{ rule[0] }}" checked data-toggle="toggle" data-onstyle="success" />
              {% else %}
              <input type="checkbox" name="action.{{ rule[0] }}"   data-toggle="toggle" data-onstyle="success" />
              {% endif %}
            </div>
      </div>

        <div class="row">
            
            <div class="col-md-12">
                <h5><pre>{{ rule[1]['fullstr'] }}</pre></h5>
            </div>

        

        </div>
        <div class="row">
          <div class="col-md-12"><hr></div>
        </div>
    {% endfor %}
    <input type="submit" class=" btn btn-success pull-right" value="save">

    </form>

{% endblock main %}

