{% extends "misc/doxi_admin.html" %}

{% block main %}

  <div class="row">
  
    <div class="col-md-2"></div>

      <div class="col-md-8">
        
        <btn class="btn btn-primary">
          <span><h1>RELOAD PENDING <br><br> Please wait 5 Minutes <br>or <br> Click this Button</h1></span>
        </btn>
      
      </div>
  
    <div class="col-md-2"></div>
  
  
  </div>


{% endblock main %}

