{% extends "misc/doxi_admin.html" %}

{% block main %}

  <div class="row">
  
    <div class="col-md-1"></div>

      <div class="col-md-10">
        
        <!-- {{ reload_msg }} --> 
        
        <hr>
        
        {% set level = "warning" %}
        {% set statustext = "Error" %}
        {% if reload_msg["reload_status"] == True %}
        {% set level = "success" %}
        {% set statustext = "Ok" %}
        
        {% endif %}

          <div class="row">
            <div class="col-md-4"><h3>RELOAD_Status</h3></div>
            <div class="col-md-8"><h3 class="btn btn-lg btn-{{level}}">&nbsp; &nbsp; &nbsp; &nbsp; {{ statustext }} &nbsp; &nbsp; &nbsp; &nbsp; </h3></div>
          </div>
          <div class="row">
            <div class="col-md-4"><h3>Status_Msg</h3></div>
            <div class="col-md-8"><h3></h3><pre>{{ reload_msg["reload_output"] }} </pre></div>
          </div>
          <div class="row">
            <hr>
          </div>
          <div class="row alert-{{level}} " >
            <div class="col-md-4"><h3>CONFIGTEST_Status</h3></div>
            <div class="col-md-8"><h3>{{ reload_msg["check_status"] }}</h3></div>
          </div>
          <div class="row">
            <div class="col-md-4"><h3>CONFIGTEST_Msg</h3></div>
            <div class="col-md-8"><h3></h3><pre>{{ reload_msg["check_output"] }} </pre></div>
          </div>
          
        

              
      </div>
  
    <div class="col-md-1"></div>
  
  
  </div>


{% endblock main %}

