{% extends "misc/doxi_admin.html" %}
{% block title %}SPIKE! - WAF Rules Builder{% endblock %}

{% block main %}

    <form action="/doxi_admin/manage_rulesets" method="POST">


    <h2>Rulesets- Administration( {{ rules | length }} ) <button type="submit" class=" btn btn-lg btn-primary pull-right" value="save"><span class="glyphicon glyphicon-floppy-disk gi-2x">Save</span></button></h2>
    <p><strong>{{ selection }}</strong></p>

    <hr>

    <!-- {{ rulesets  }} -->


    {% for r in rulesets  %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h3>{{ r }}</h3>
              <input type="hidden" name="ruleset.{{ r }}" value="{{ r }}">
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-1 top-buffer1">
              {% if rulesets[r].active == 1 %}
              
              <input type="checkbox" name="action.{{ r }}" checked data-toggle="toggle" data-onstyle="success"  />
              {% else %}
              <input type="checkbox" name="action.{{ r }}"   data-toggle="toggle" data-onstyle="success" />
              {% endif %}
            </div>
      </div>


        <div class="row">
          <div class="col-md-12"><hr></div>
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary pull-right" value="save">

    </form>

{% endblock main %}

