{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils%}

{% block title %}SPIKE - WAF Rules Builder{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
{% endblock %}


{% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ url_for('static', filename='css/appstyle.css') }}" rel="stylesheet" media="screen"/>

    <link href="{{ url_for('default.atom') }}" type="application/atom+xml" rel="alternate" />
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Spike <img src="{{ url_for('static', filename='spike.png') }}" alt="Spike logo">
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-collapse-top">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rules<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('rules.new') }}">New rule</a></li>
                        <li><a href="{{ url_for('rules.index') }}">View rules</a></li>
                        <li><a href="{{ url_for('rulesets.index') }}">Rulesets</a></li>
                        <li><a href="{{ url_for('rules.import_rules') }}">Import rules</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Whitelists<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('whitelists.new') }}">New whitelist</a></li>
                        <li><a href="{{ url_for('whitelists.index') }}">View whitelists</a></li>
                        <li><a href="{{ url_for('whitelistsets.index') }}">Whitelistsets</a></li>
                        <li><a href="{{ url_for('whitelists.generate') }}">Generation</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Toolbox<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('sandbox.index') }}">Sandbox</a></li>
                        <li><a href="{{ url_for('default.download') }}">Download database</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="https://github.com/nbs-system/naxsi/wiki/rulessyntax" target="_blank">Writing naxsi rules</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="https://github.com/nbs-system/spike" target="_blank">About Spike</a></li>
                        <li><a href="https://github.com/nbs-system/Naxsi" target="_blank">About Naxsi</a></li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-right">
                <form class="navbar-form" action="{{ url_for('rules.search') }}" method="get" role="search">
                    <div class="form-group">
                            <input type="text" class="form-control" name="s" size="20" value="{{ lsearch }}" placeholder="Keyword or rule id">
                        <input type="submit" class="btn btn-primary" value="Search">
                    </div>
                </form>
            </div>
        </div>
    </nav>

{% endblock %}


{% block content %}
    <div class="main-content">
        <div class="row"><br><br><br></div>  <!-- This is ugly as fuck, fix it with css and love -->

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ utils.flashed_messages(dismissible=True) }}

                {% block main %}
                {% endblock %}

            </div>
        </div>

        <div class="row footer">
            <div class="container" align="center">
                <hr>
                Copyright 2011-2017 lazy dog,
                <br/>
                Version: <a href="https://github.com/nbs-system/spike>">{{ version }}</a>
                - Logo: <a href="http://www.iconsdb.com/moth-green-icons/barking-dog-icon.html">IconDB</a>
                <hr>
            </div>
        </div>
    </div>

{% endblock content %}
