{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils%}




{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap-toggle.min.js') }}"></script>
{% endblock %}


{% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ url_for('static', filename='css/appstyle.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ url_for('static', filename='css/bootstrap-toggle.min.css') }}" rel="stylesheet" media="screen"/>

    <link href="{{ url_for('default.atom') }}" type="application/atom+xml" rel="alternate" />
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/doxi_admin">
                Spoxi <img src="{{ url_for('static', filename='spike.png') }}" alt="Spike logo">
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-collapse-top">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="/doxi_admin" class="dropdown-toggle" data-toggle="dropdown">Doxi_Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('site_admin.index') }}">Manage Sites</a></li>
                        <li><hr></li>
                        <li><a href="{{ url_for('doxi_admin.index') }}">Manage Rules</a></li>
                        <li><a href="{{ url_for('doxi_admin.rulesets') }}">Manage Rulesets</a></li>
                        <li><a href="{{ url_for('doxi_admin.updates_admin') }}">Execute Updates</a></li>
                        <li><hr></li>
                        <li><a href="{{ url_for('doxi_admin.settings') }}">Export</a></li>
                        <li><a href="{{ url_for('doxi_admin.settings') }}">Settings</a></li>
                        <li><a href="{{ url_for('doxi_admin.config_test') }}">Config_Test</a></li>

                    </ul>

                </li>

            </ul>

            <div class="navbar-right">




                <form class="navbar-form" action="{{ url_for('doxi_admin.search') }}" method="get" role="search">
                    <div class="form-group">
                  {% if export_display["reload_pending"] == "yes" %}
                    
                    <a href="{{ url_for('doxi_admin.reload_execute') }}" class="btn btn-warning headbtn">Reload Pending</a> &nbsp;&nbsp; &nbsp; &nbsp;

                  {% elif export_display["needs_export"] == "yes" %}
                  
                    <a href="{{ url_for('doxi_admin.export') }}" class="btn btn-danger headbtn">Activation/Export needed</a> &nbsp;&nbsp; &nbsp; &nbsp;

                  
                  {% endif  %}
                            <input type="text" class="form-control" name="s" size="20" value="{{ lsearch }}" placeholder="Keyword or rule id">
                        <input type="submit" class="btn btn-primary" value="Search">
                    </div>
                </form>
            </div>
        </div>
    </nav>

{% endblock %}


{% block content %}
    <div class="main-content">
        <div class="row"><br><br><br></div>  <!-- This is ugly as fuck, fix it with css and love
          yeah, UI-DEVS to the front!!!!!!!!! (mex) -->

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ utils.flashed_messages(dismissible=True) }}

                {% block main %}
                {% endblock %}

            </div>
        </div>



{% endblock content %}


        <div class="row footer">
            <div class="container" align="center">
                <hr>
                Copyright 2011-2015,2017 lazy.dog</a>,
                2016 <a href="https://nbs-system.com" target="_blank">NBS-System</a>
                <br/>
                Version: <a href="https://github.com/nbs-system/spike>">{{ version }}</a>
                - Logo: <a href="http://www.iconsdb.com/moth-green-icons/barking-dog-icon.html">IconDB</a>
                <hr>
            </div>
        </div>
    </div>
