.dropdown-menu {
  white-space: nowrap;
  max-width: 300px;
  min-width: 220px;
 }

.top-buffer1 { margin-top:10px; }
.top-buffer2 { margin-top:20px; }

.top-buffer3 { margin-top:-10px; }


.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


.rlstatus { padding: 20px; }
